<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>#include event page</title>
	<meta charset="UTF-8">

	<meta name="keywords" content="photo, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/elegant-icons.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style>
	.button {
	  background-color: #4CAF50; /* Green */
	  border: none;
	  color: white;
	  padding: 10px 25px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 12px;
	  margin: 4px 2px;
	  transition-duration: 0.4s;
	  cursor: pointer;

	}



	.button2 {
	  background-color: black;
	  color: white;

	}

	.button2:hover {
	  background-color: white;
	  color: black;
	}


	}
	</style>
	<!--JSON-->


</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Offcanvas Menu Section -->
	<div class="offcanvas-menu-wrapper">
		<div class="menu-header">
			<a href="./index.html" class="site-logo">
				<img src="img/logo.png" alt="">
			</a>

			<div class="menu-switch" id="menu-canvas-close">
				<i class="icon_close"></i>
			</div>
		</div>


	</div>
	<!-- Offcanvas Menu Section end -->

	<!-- Header section -->
	<header class="header-section">
		<a href="./index.html" class="site-logo">
			<img src="img/logo.png" alt="">
		</a>
		<p align="right">
		<button class="button button2" align="right">Home</button>
		<button class="button button2" align="right">Contact</button>
  	<button class="button button2" align="right">Login</button>
</p>
	</header>
	<!-- Header section end -->

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hero-item">
				<div class="hero-text">




					<h2 id="event_name">PYTHON Bootcamp</h2>
					<p style="font-size:13px">Google. YouTube. Instagram. Spotify. Reddit - aside from being some of the most popular software services in the world, what else do they have in common?
			That’s right: they all use PYTHON (one of the most popular and productive languages of our time). Team #include is organizing an introductory session on python for 1st year students.
			Don't shy away from taking the first step to an amazingly infinite store of possibilities you can achieve through Python.
			So save the date and don't forget to bring your friends with you!!</p>
			<h5>22-01-2020</h5>
			<h5>5PM to 7PM</h5>
			<h5>ATC 204 , ATC 206</h5>




					<a href="Register.html" class="ht-btn">Register<i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/Poster.jpg" width="40" height="40"></div>
			</div>


		</div>
	</section>
	<!-- Hero section end -->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="footer-social">
			<a href="#">Facebook</a>

			<a href="#">Instagram</a>
		</div>

	</footer>
	<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/main.js"></script>

	</body>
</html>
